.container {
  text-align: center;
  margin: auto;
  padding-top: 100px;
  width: 100px;
  height: 200px;
 
}
.container2 {
  text-align: center;
  margin: auto;
  padding-top: 100px;
  width: 100px;
  height: 200px;
}